<div class="title">{{model.nombre}}</div>
<div class="list">
  <table>
    <tr class="row">
      <td class="cell">{{country}}</td>
      <td class="cell">{{model.pais}}</td>
    </tr>
    <tr class="row">
      <td class="cell">{{position}}</td>
      <td class="cell">{{model.posicion}}</td>
    </tr>
    <tr>
      <td class="cell">{{slams}}</td>
      <td class="cell">{{model.totalSlams}}</td>
    </tr>
  </table>
</div>
